<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="business"></ion-icon>
      <ion-label>Aziende</ion-label>
      <!-- <ion-badge color="primary">6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="send"></ion-icon>
      <ion-label>Invia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Ricevi</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
