<ion-content scrollX="true" scrollY="true" color="medium">
  <ion-grid>
    <ion-row class="light">
      <ion-col size="10">
        <div>
          <h1>Prodotti</h1>
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-icon name="grid-outline" slot="start"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="light">
      <ion-col size="11">
        <h6>{{ loginInfos() }}</h6>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="copy" class="copy-icon" (click)="copyLoginAddress()"></ion-icon>
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="products.length === 0">
      <ion-col size="11" class="ion-col-chall">
        <ion-list lines="none">
          <ion-item class="col-dos">
            <ion-label>
              
              <p class="txt-card">
                Nessun prodotto registrato dal produttore.
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let p of products">
      <ion-col size="11" class="ion-col-chall">
        <ion-list lines="none">
          <ion-item class="col-dos">
            <ion-label>
              <h3 class="title-card">{{ p.ProductId }}</h3>
              <p class="txt-card">
                {{ p.Description }}<br />
                <strong>Proprietario:</strong><br />{{ p.CurrentOwnerAddressId }}
              </p>
            </ion-label>
            <!-- <img src="../../assets/imgs/product.png" class="img-avatar" /> -->
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- <ion-col size="11" class="ion-col-chall">
        <ion-list lines="none">
          <ion-item class="col-dos">
            <ion-label>
              <h3 class="title-card">Read 5 books on April</h3>
              <p class="txt-card">
                Start Challenge
              </p>
            </ion-label>
            <img src="../../assets/imgs/img3.png" class="img-avatar" />
          </ion-item>
        </ion-list>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>