<ion-content scrollX="true" scrollY="true" color="medium">
  <ion-grid>
    <ion-row class="light">
      <ion-col size="10">
        <div>
          <h1>Aziende</h1>
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-icon name="business" slot="start"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="light">
      <ion-col size="11">
        <h6>{{ loginInfos() }}</h6>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="copy" class="copy-icon" (click)="copyLoginAddress()"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="col-uno" *ngFor="let m of manufacturers">
      <ion-col size="8">
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/imgs/manufacturer.png" />
            </ion-avatar>
            <ion-label>
              <h3>{{ m.CompanyFiscalCode }} / {{ m.ProductPrefixId }}</h3>
              <p>{{ m.CompanyName }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" class="btn-swap">
        <ion-button expand="full" shape="round" color="warning" class="btn-card" [routerLink]="['/tabs/tab2']"
          [queryParams]="{ addressId: m.AddressId }">
          Prodotti
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label>
            <p>Address: {{ m.AddressId }}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>