<!-- ========= TABS HOME PAGE =============== MADE WITH LOVE BY: LIRRUMS -->
<ion-content scrollX="true" scrollY="true" color="medium">
  <ion-grid>
    <ion-row class="light">
      <ion-col size="10">
        <div>
          <h1>Discover</h1>
          <ion-button shape="round" style="margin-bottom: -4%;"
            >Add book</ion-button
          >
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="col-uno">
      <ion-col size="8">
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="https://img.icons8.com/bubbles/50/000000/user.png" />
            </ion-avatar>
            <ion-label>
              <h3>Luke Jacobs</h3>
              <p>I feel the good in you, the conflict...</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" class="btn-swap">
        <ion-button
          expand="full"
          shape="round"
          color="warning"
          class="btn-card"
          [routerLink]="['/single']"
        >
          Swap
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item>
            <img src="../../assets/imgs/book2.png" class="img-avatar" />
            <ion-label>
              <h3 class="title-card">Harry potter y la piedra filosofal</h3>
              <p class="txt-card">
                I feel the good in you, the conflict lorem...
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="col-uno">
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img
                src="https://img.icons8.com/bubbles/50/000000/writer-female.png"
              />
            </ion-avatar>
            <ion-label>
              <h3>Luke Jacobs</h3>
              <p>I feel the good in you, the conflict...</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item>
            <img src="../../assets/imgs/book2.png" class="img-avatar" />
            <ion-label>
              <h3 class="title-card">Harry potter y la piedra filosofal</h3>
              <p class="txt-card">
                I feel the good in you, the conflict lorem...
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="col-uno">
      <ion-col size="8">
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="https://img.icons8.com/bubbles/50/000000/user.png" />
            </ion-avatar>
            <ion-label>
              <h3>Luke Jacobs</h3>
              <p>I feel the good in you, the conflict...</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" class="btn-swap">
        <ion-button
          expand="full"
          shape="round"
          color="primary"
          class="btn-card"
          [routerLink]="['/single']"
        >
          Buy
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item>
            <img src="../../assets/imgs/book2.png" class="img-avatar" />
            <ion-label>
              <h3 class="title-card">Harry potter y la piedra filosofal</h3>
              <p class="txt-card">
                I feel the good in you, the conflict lorem...
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="col-uno">
      <ion-col size="8">
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="https://img.icons8.com/bubbles/50/000000/user.png" />
            </ion-avatar>
            <ion-label>
              <h3>Luke Jacobs</h3>
              <p>I feel the good in you, the conflict...</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" class="btn-swap">
        <ion-button
          expand="full"
          shape="round"
          color="danger"
          class="btn-card"
          [routerLink]="['/single']"
        >
          Swap
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item>
            <img src="../../assets/imgs/book2.png" class="img-avatar" />
            <ion-label>
              <h3 class="title-card">Harry potter y la piedra filosofal</h3>
              <p class="txt-card">
                I feel the good in you, the conflict lorem...
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row class="col-uno">
      <ion-col size="8">
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="https://img.icons8.com/bubbles/50/000000/user.png" />
            </ion-avatar>
            <ion-label>
              <h3>Luke Jacobs</h3>
              <p>I feel the good in you, the conflict...</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4" class="btn-swap">
        <ion-button
          expand="full"
          shape="round"
          color="success"
          class="btn-card"
          [routerLink]="['/single']"
        >
          Swap
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item>
            <img src="../../assets/imgs/book2.png" class="img-avatar" />
            <ion-label>
              <h3 class="title-card">Harry potter y la piedra filosofal</h3>
              <p class="txt-card">
                I feel the good in you, the conflict lorem...
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- ========= TABS HOME PAGE =============== MADE WITH LOVE BY: LIRRUMS -->
