<!-- ========= TABS3 HOME PAGE =============== MADE WITH LOVE BY: LIRRUMS -->
<ion-content scrollX="true" scrollY="true" color="medium">
  <ion-row class="light">
    <ion-col size="10">
      <div>
        <h1>Profile</h1>
      </div>
    </ion-col>
    <ion-col size="2">
      <div>
        <ion-icon name="person" slot="start"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row class="col-uno">
      <ion-col size="12" style="text-align: center;">
        <img
          src="https://img.icons8.com/bubbles/50/000000/user.png"
          class="img-profile"
        />
        <ion-label>
          <h3 class="h3-txt-pro">Welcome, Luke Jacobs!</h3>
          <p class="p-txt-pro">This your workspace!</p>
          <ion-col size="12">
            <ion-icon name="star" class="icon-sin" color="warning"></ion-icon>
            <ion-icon name="star" class="icon-sin" color="warning"></ion-icon>
            <ion-icon name="star" class="icon-sin" color="warning"></ion-icon>
            <ion-icon name="star" class="icon-sin" color="warning"></ion-icon>
            <ion-icon name="star" class="icon-sin" color="warning"></ion-icon>
          </ion-col>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="col-uno">
      <ion-col size="12">
        <h1 class="friend-h1">Interest</h1>
      </ion-col>
      <ion-col size="4">
        <div>
          <img
            src="https://img.icons8.com/clouds/50/000000/book.png"
            class="inte-profile"
          />
          <p class="bo-profile">Books</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          <img
            src="https://img.icons8.com/bubbles/50/000000/bicycle.png"
            class="inte-profile"
          />
          <p class="bo-profile">Bicycle</p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          <img
            src="https://img.icons8.com/clouds/50/000000/fashion-portal.png"
            class="inte-profile"
          />
          <p class="bo-profile">Fashion</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="col-dos">
      <ion-col size="12">
        <h1 class="friend-h1">Friends</h1>
      </ion-col>
      <ion-col size="4">
        <ion-avatar class="col-tres">
          <img
            src="https://img.icons8.com/color/50/000000/user-female-skin-type-1-2.png"
            class="pic-txt"
          />
        </ion-avatar>
        <p>Amanda</p>
      </ion-col>
      <ion-col size="4">
        <ion-avatar class="col-tres">
          <img
            src="https://img.icons8.com/color/50/000000/user-female-skin-type-1-2.png"
            class="pic-txt"
          />
        </ion-avatar>
        <p>Taylor</p>
      </ion-col>

      <ion-col size="4">
        <ion-avatar class="col-tres">
          <img
            src="https://img.icons8.com/officel/50/000000/user-male-skin-type-5.png"
            class="pic-txt"
          />
        </ion-avatar>
        <p>Justin</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- ========= TABS3 HOME PAGE =============== MADE WITH LOVE BY: LIRRUMS -->
