<ion-content>
  <ion-grid class="body">
    <ion-row>
      <ion-col size="12" class="div-txt">
        <h1 class="title">Registrazione</h1>
        <p class="description">Benvenuto, crea un nuovo wallet gratuitamente!</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <!--FORM LOGIN-->
      <ion-col size="12" class="div-form">
        <form class="form-login">
          <img src="../../assets/imgs/bg.jpg" />
          <ion-item lines="none">
            <ion-input type="text" name="username" placeholder="Scegli uno username" [(ngModel)]="username" required>
              <ion-icon name="person"></ion-icon>
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-input type="text" name="passprase" [(ngModel)]="generatedPassphrase" readonly>
              <ion-icon name="key"></ion-icon>
            </ion-input>
          </ion-item>

          <ion-button expand="block" class="btn" shape="round" (click)="CreaWallet()">Crea wallet</ion-button>
          <label class="create-account">Ritorna alla login</label>
          <a href="#" class="create" [routerLink]="['/login']">Login</a>
          <div class="spacer"></div>
        </form>
      </ion-col>
      <!-- END FORM LOGIN -->
    </ion-row>
  </ion-grid>
</ion-content>